@charset "UTF-8";

/*!
 * 设置html,body基础样式
 * reset 重置标签样式
 * utilities 复用class
 */

/* 设置html,body基础样式  START
---------------------------------------------- */

html {
  font-size: 16px;
}

body {
  overflow: hidden scroll;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Microsoft YaHei";
}

/* 设置html,body基础样式  END
---------------------------------------------- */

/* reset 重置标签样式  START
---------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* 标题元素 */
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

/* 列表标签 */
ul,ol,menu {
  list-style: none;
}

/* 内联文本语义 */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

b,strong {
  font-weight: normal;
}

i,cite,em,var,dfn {
  font-style: normal;
}

sub,sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* 图片和多媒体元素 */
img,audio,video,svg {
  vertical-align: middle;
}

/* 表格元素 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

/* 表单元素 */
button,datalist,fieldset,form,
input,label,legend,meter,optgroup,
option,output,progress,select,textarea {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  outline: none;
  /* line-height: inherit; */
}

optgroup {
  font-weight: normal;
}

textarea {
  resize: none;
}

input {
  vertical-align: middle;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

/* reset 重置标签样式 END
---------------------------------------------- */

/* utilities 复用class  START
---------------------------------------------- */

/* 清除 单选复选框等的默认样式 */

.appearance-none {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* flex子项自适应填满 */

.flex-fill {
  flex: 1 1 auto;
}

/* 浮动 */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* 定位 */

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

/* 溢出隐藏 */

.oh {
  overflow: hidden;
}

/* 鼠标手型 */

.pointer {
  cursor: pointer;
}

/* 文本截断，显示... */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate-mtext {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* 图片自适应布局 */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* 元素的内容水平居中 */

.text-c {
  text-align: center;
}

/* 显示类型 */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* 字体大小 */

.fs-0 {
  font-size: 0;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 16px;
}

.fs-l {
  font-size: 20px;
}

/* 行高 */

.lh-0 {
  line-height: 0;
}

.lh-s {
  line-height: 1;
}

.lh-m {
  line-height: 1.5;
}

.lh-l {
  line-height: 2;
}

/* 字体粗细 */

.fw-s {
  font-weight: 300;
}

.fw-m {
  font-weight: 400;
}

.fw-l {
  font-weight: 700;
}

/* 边框 */

.border {
  border: 1px solid #f00;
}

.border-0 {
  border: 0;
}

/* 圆角 */

.radius {
  border-radius: 0.25rem;
}

.radius-0 {
  border-radius: 0;
}

/* 盒子阴影 */

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-none {
  box-shadow: none;
}

/* 背景色 */

.bgc-success {
  background-color: #198754;
}

.bgc-info {
  background-color: #0dcaf0;
}

/* margin居中 */

.m-auto {
  margin: 0 auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* utilities 复用class  END
---------------------------------------------- */
