@charset "UTF-8";

/* 
  重置样式
  1. margin, padding, 清零;
  2. 左浮动,右浮动,防止浮动塌陷,清除浮动;
  3. ul,ol 标签列表预设标记清零;
  4. a 标签文本装饰,颜色清零;
  5. img 标签对齐;
  6. i,em,b,strong 标签重置;
  7. h1,h2,h3,h4,h5,h6 标签重置;
  8. sup,sub 标签重置;
*/


/* 1. margin, padding 清零; */

body,h1,h2,h3,h4,h5,h6,p,hr,                  /* structural elements 结构元素 */
blockquote,pre,                               /* text formatting elements 文本格式元素 */
form,input,textarea,button,fieldset,legend,   /* form elements 表单元素 */
ol,ul,li,dl,dt,dd,                            /* list elements 列表元素 */
th,td,                                        /* table elements 表格元素 */
figure {
    margin: 0;
    padding: 0;
}

/* 2. 左浮动,右浮动,防止浮动塌陷,清楚浮动; */

.fl {
    float: left;
}

.fr {
    float: right;
}

.fo {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

/* 3. ul,ol,li 标签列表预设标记清零; */

ul,ol {
    list-style: none;
}

/* 4. a 标签文本装饰及鼠标状态清零; */

a {
    text-decoration: none;
    color: inherit;
}

/* 5. img 标签对齐 */

img {
    vertical-align: top;
}

/* 6. i,em,b,strong 标签重置 */

i,em {
    font-style: normal;
}

b,strong {
    font-weight: normal;
}

/* 7. h1,h2,h3,h4,h5,h6 标签重置; */

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    font-weight: normal;
}

/* 8. sup,sub 标签重置 */

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}
