@charset "UTF-8";

/*!
 * 重置标签样式 
 * versions 1.0 
 * 2021/02/27
**/

/**
 * $清除内外边距
 * $列表元素
 * $标题元素
 * $文本格式元素
 * $嵌入元素
 * $表格元素
**/


/* $清除内外边距 */
body,h1,h2,h3,h4,h5,h6,p,hr,blockquote,pre,form,input,textarea,button,fieldset,legend,ol,ul,li,dl,dt,dd,th,td,figure {
    margin: 0;
    padding: 0;
}

/* $列表元素 */
ul,ol {
    list-style: none;
}

/* $标题元素 */
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    font-weight: normal;
}

/* $文本格式元素 */
a {
    text-decoration: none;
    color: inherit;
}

i,em,address,cite,dfn,var {
    font-style: normal;
}

b,strong,th,optgroup {
    font-weight: normal;
}

small {
    font-size: .75rem;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* $嵌入元素 */
img,svg {
    vertical-align: middle;
}

img {
    border: 0;
}

/* $表格元素 */
table {
    border-spacing: 0;
    border-collapse: collapse;
}
