@charset "UTF-8";

/* 
  margin,padding 清零;
  ul,ol, 标签列表预设标记清零;
  a 标签文本装饰,颜色清零;
  img,svg 标签对齐;
  文本标签重置;
  h 标签 重置;
  sup,sub 标签重置;
  small 标签文字大小重置;
*/

/* 
  左浮动,右浮动,防止浮动塌陷,清楚浮动; 
  文字不换行，溢出用...显示;
  鼠标 手型;
  相对定位,绝对定位;
*/

/* margin,padding 清零; */

body,h1,h2,h3,h4,h5,h6,p,hr,                  /* structural elements 结构元素 */
blockquote,pre,                               /* text formatting elements 文本格式元素 */
form,input,textarea,button,fieldset,legend,   /* form elements 表单元素 */
ol,ul,li,dl,dt,dd,                            /* list elements 列表元素 */
th,td,                                        /* table elements 表格元素 */
figure {
    margin: 0;
    padding: 0;
}

/* ul,ol, 标签列表预设标记清零; */

ul,ol {
    list-style: none;
}

/* a 标签文本装饰,颜色清零; */

a {
    text-decoration: none;
    color: inherit;
}

/* img,svg 标签对齐 */

img,svg {
    vertical-align: middle;
}

/* 文本标签重置 */

i,em,address,cite,dfn,var {
    font-style: normal;
}

b,strong,th,optgroup {
    font-weight: normal;
}

/* h 标签 重置; */

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    font-weight: normal;
}

/* sup,sub 标签重置; */

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* small 标签文字大小重置; */

small {
    font-size: 12px;
}

/* 左浮动,右浮动,防止浮动塌陷,清楚浮动; */

.fl {
    float: left;
}

.fr {
    float: right;
}

.fo {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

/* 文字不换行，溢出用...显示; */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 鼠标 手型; */

.pointer {
    cursor: pointer;
}

/* 相对定位,绝对定位; */

.pr {
    position: relative;
}

.pa {
    position: absolute;
}
