@charset "UTF-8";

/*!
 * 😄versions 2.0     2021/02/27
 * 摘录至 Bootstrap Utilities v5.0.0-beta1 -> bootstrap-utilities.css
 * 摘录内容无删减，按照属性名分类，去掉响应式布局样式，去掉 !important
 * 😺--新增--增加自定义类
**/


/* 
    .fl .fr .fo .clearfix  左浮动，右浮动，浮动坍塌，清除浮动
    .text-truncate  文本溢出边界显示为...
    .pointer  鼠标手型
    .pr .pa 相对定位，绝对定位
**/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fo {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}


/* 
布局 Layout
    $display
    $float
    $visibility
    $overflow

定位 Positioning
    $position
    $z-index
    $top
    $right
    $bottom
    $left

弹性盒子 Flexible Box Layout
    $flex-direction
    $flex-wrap
    $justify-content
    $align-items
    $align-content
    $flex
    $flex-grow
    $flex-shrink
    $align-self
    $order

网格 Grid
    $gap

尺寸 Sizing
    $width
    $min-width
    $max-width
    $height
    $min-height
    $max-height

外边距 内填充 边框
    $margin
    $padding
    $border
    $border-radius
    $box-shadow

背景 Backgrounds
    $background-color

字体 Font
    $font-style
    $font-weight
    $font-size
    $line-height

颜色 Color
    $color

文本 Text
    $text-transform
    $text-decoration
    $white-space
    $word-break
    $text-align
    $vertical-align

变换 Transform
    $transform

用户界面 User Interface
    $user-select
    $pointer-events
*/


/* $display */

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-table {
    display: table;
}

.d-table-row {
    display: table-row;
}

.d-table-cell {
    display: table-cell;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-none {
    display: none;
}


/* $float */

.float-start {
    float: left;
}

.float-end {
    float: right;
}

.float-none {
    float: none;
}


/* $visibility */

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}


/* $overflow */

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}


/* $position */

.position-static {
    position: static;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
    position: -webkit-sticky;
}


/* $top */

.top-0 {
    top: 0;
}

.top-50 {
    top: 50%;
}

.top-100 {
    top: 100%;
}


/* $right */

.end-0 {
    right: 0;
}

.end-50 {
    right: 50%;
}

.end-100 {
    right: 100%;
}


/* $bottom */

.bottom-0 {
    bottom: 0;
}

.bottom-50 {
    bottom: 50%;
}

.bottom-100 {
    bottom: 100%;
}


/* $left */

.start-0 {
    left: 0;
}

.start-50 {
    left: 50%;
}

.start-100 {
    left: 100%;
}


/* $flex-direction */

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}


/* $flex-wrap */

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}


/* $justify-content */

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}


/* $align-items */

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}


/* $align-content */

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}


/* $flex */

.flex-fill {
    flex: 1 1 auto;
}


/* $flex-grow */

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}


/* $flex-shrink */

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}


/* $align-self */

.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}


/* $order */

.order-first {
    order: -1;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-last {
    order: 6;
}


/* $gap */

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-5 {
    gap: 3rem;
}


/* $width */

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.vw-100 {
    width: 100vw;
}


/* $min-width */

.min-vw-100 {
    min-width: 100vw;
}


/* $max-width */

.mw-100 {
    max-width: 100%;
}


/* $height */

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.vh-100 {
    height: 100vh;
}


/* $min-height */

.min-vh-100 {
    min-height: 100vh;
}


/* $max-height */

.mh-100 {
    max-height: 100%;
}


/* $margin */

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.m-auto {
    margin: auto;
}

.mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.mx-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.mx-3 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mx-4 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.mx-5 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-auto {
    margin-top: auto;
}

.me-0 {
    margin-right: 0;
}

.me-1 {
    margin-right: 0.25rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.me-3 {
    margin-right: 1rem;
}

.me-4 {
    margin-right: 1.5rem;
}

.me-5 {
    margin-right: 3rem;
}

.me-auto {
    margin-right: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-auto {
    margin-bottom: auto;
}

.ms-0 {
    margin-left: 0;
}

.ms-1 {
    margin-left: 0.25rem;
}

.ms-2 {
    margin-left: 0.5rem;
}

.ms-3 {
    margin-left: 1rem;
}

.ms-4 {
    margin-left: 1.5rem;
}

.ms-5 {
    margin-left: 3rem;
}

.ms-auto {
    margin-left: auto;
}


/* $padding */

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.px-0 {
    padding-right: 0;
    padding-left: 0;
}

.px-1 {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.px-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.px-3 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.px-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.px-5 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pe-0 {
    padding-right: 0;
}

.pe-1 {
    padding-right: 0.25rem;
}

.pe-2 {
    padding-right: 0.5rem;
}

.pe-3 {
    padding-right: 1rem;
}

.pe-4 {
    padding-right: 1.5rem;
}

.pe-5 {
    padding-right: 3rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.ps-0 {
    padding-left: 0;
}

.ps-1 {
    padding-left: 0.25rem;
}

.ps-2 {
    padding-left: 0.5rem;
}

.ps-3 {
    padding-left: 1rem;
}

.ps-4 {
    padding-left: 1.5rem;
}

.ps-5 {
    padding-left: 3rem;
}


/* $border */

.border {
    border: 1px solid #dee2e6;
}

.border-0 {
    border: 0;
}

.border-top {
    border-top: 1px solid #dee2e6;
}

.border-top-0 {
    border-top: 0;
}

.border-end {
    border-right: 1px solid #dee2e6;
}

.border-end-0 {
    border-right: 0;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-start {
    border-left: 1px solid #dee2e6;
}

.border-start-0 {
    border-left: 0;
}

.border-primary {
    border-color: #0d6efd;
}

.border-secondary {
    border-color: #6c757d;
}

.border-success {
    border-color: #198754;
}

.border-info {
    border-color: #0dcaf0;
}

.border-warning {
    border-color: #ffc107;
}

.border-danger {
    border-color: #dc3545;
}

.border-light {
    border-color: #f8f9fa;
}

.border-dark {
    border-color: #212529;
}

.border-white {
    border-color: #fff;
}

.border-0 {
    border-width: 0;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-4 {
    border-width: 4px;
}

.border-5 {
    border-width: 5px;
}


/* $border-radius */

.rounded {
    border-radius: 0.25rem;
}

.rounded-0 {
    border-radius: 0;
}

.rounded-1 {
    border-radius: 0.2rem;
}

.rounded-2 {
    border-radius: 0.25rem;
}

.rounded-3 {
    border-radius: 0.3rem;
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-pill {
    border-radius: 50rem;
}

.rounded-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.rounded-end {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.rounded-start {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}


/* box-shadow */

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow-none {
    box-shadow: none;
}


/* $background-color */

.bg-primary {
    background-color: #0d6efd;
}

.bg-secondary {
    background-color: #6c757d;
}

.bg-success {
    background-color: #198754;
}

.bg-info {
    background-color: #0dcaf0;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-danger {
    background-color: #dc3545;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #212529;
}

.bg-body {
    background-color: #fff;
}

.bg-white {
    background-color: #fff;
}

.bg-transparent {
    background-color: transparent;
}


/* $font-style */

.fst-italic {
    font-style: italic;
}

.fst-normal {
    font-style: normal;
}


/* $font-weight */

.fw-light {
    font-weight: 300;
}

.fw-lighter {
    font-weight: lighter;
}

.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

.fw-bolder {
    font-weight: bolder;
}


/* $font-size */

.fs-1 {
    font-size: calc(1.375rem + 1.5vw);
}

.fs-2 {
    font-size: calc(1.325rem + 0.9vw);
}

.fs-3 {
    font-size: calc(1.3rem + 0.6vw);
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw);
}

.fs-5 {
    font-size: 1.25rem;
}

.fs-6 {
    font-size: 1rem;
}


/* $line-height */

.lh-1 {
    line-height: 1;
}

.lh-sm {
    line-height: 1.25;
}

.lh-base {
    line-height: 1.5;
}

.lh-lg {
    line-height: 2;
}


/* $color */

.text-primary {
    color: #0d6efd;
}

.text-secondary {
    color: #6c757d;
}

.text-success {
    color: #198754;
}

.text-info {
    color: #0dcaf0;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #212529;
}

.text-white {
    color: #fff;
}

.text-body {
    color: #212529;
}

.text-muted {
    color: #6c757d;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5);
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

.text-reset {
    color: inherit;
}


/* $text-transform */

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}


/* $text-decoration */

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}


/* $white-space */

.text-wrap {
    white-space: normal;
}

.text-nowrap {
    white-space: nowrap;
}


/* $text-align */

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}


/* $vertical-align */

.align-baseline {
    vertical-align: baseline;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.align-text-bottom {
    vertical-align: text-bottom;
}

.align-text-top {
    vertical-align: text-top;
}


/* $transform */

.translate-middle {
    transform: translate(-50%, -50%);
}

.translate-middle-x {
    transform: translateX(-50%);
}

.translate-middle-y {
    transform: translateY(-50%);
}


/* $user-select */

.user-select-all {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

.user-select-auto {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* $pointer-events */

.pe-none {
    pointer-events: none;
}

.pe-auto {
    pointer-events: auto;
}


/* 未列举的
.bg-gradient {
  background-image: var(--bs-gradient) ;
}

    rtl:end:remove
.font-monospace {
  font-family: var(--bs-font-monospace) ;
}
    rtl:begin:remove
.text-break {
  word-wrap: break-word ;
  word-break: break-word ;
}
*/
